body {

	font-family: 'Noto Sans', sans-serif;
	color:#C42847;
	font-size: 38px;
	padding: 32px;
}

.searchBox {

	width: calc(100% - 34px);
	font-size: 24px;
	position: fixed;
	left: 34px;
	background: white;
	height: auto;
	padding-top: 34px;	
	top: 0px;

	h1 {

		font-family: 'Noto Sans', sans-serif;
		display: block;
		
	}
	input {
		outline: none;
		display: block;
		background: none;
		font-size: 24px;
		background: #c42847;
		color: white;
		border: none;
		width: calc(50% - 12px);
		padding: 12px;
		position: relative;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: white;
	}


}

ul {

	list-style-type:none !important;
	padding: 0px;
	width: 50%;
	margin-top: 5em;
	left: 34px;
	position: absolute;
  z-index: -1;
	li {
		margin: 10px 0px;
		display: flex;
		align-items: center;
		padding: 0px 10px 0px 0px;
		justify-content: flex-start;
		font-size: 15px;
		box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
		transition: all 0.3s ease;
		width: calc(100% - 16px);
		img {
			margin-right: 35px;
		}
	 &:hover {
		background: #c42847;
		color: white;

	 }
	}
}
